/.SensorEntersHighCriticalRange_Pattern.java._trace
/.SensorEntersHighFatalRange_Pattern.java._trace
/.SensorEntersLowCriticalRange_Pattern.java._trace
/.SensorEntersLowFatalRange_Pattern.java._trace
/.SensorEntersNormalRange_Pattern.java._trace
