/.SensorEntersHighCriticalRange_Event.java._trace
/.SensorEntersHighFatalRange_Event.java._trace
/.SensorEntersLowCriticalRange_Event.java._trace
/.SensorEntersLowFatalRange_Event.java._trace
/.SensorEntersNormalRange_Event.java._trace
